nav {
    padding: 10px;
}

.delete-button, .update-form {
    padding: 10px;
}

.movie-image {
    height: 100%;
    width: 100px;
    padding: 20px;
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;
}

.movie-card {
    flex: 1 1 calc(33.333% - 16px); /* Adjust the width of each card */
    box-sizing: border-box;
    margin-bottom: 16px;
  }